.bodyContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
}

.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .h2 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper .h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #ff6f61;
}

.wrapper .form {
  margin-top: 30px;
}

.wrapper .form .inputBox {
  height: 55px;
  margin: 18px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form .inputBox input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.inputBox input:focus,
.inputBox input:valid {
  border-color: #ff6f61; /* Theme color for focus */
}

.inputBox.button .btn {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
  background: #ff6f61; /* Theme color for the button */
  cursor: pointer;
  padding: 15px 0;
  transition: background 0.3s ease;
}

.inputBox.button .btn:hover {
  background: #ff4b47;
  transform: scale(0.95);
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form .text .p {
  color: #333;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.form .text .p .a {
  color: #ff6f61;
  text-decoration: none;
}

.form .text .p .a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.success {
  color: green;
  margin-bottom: 15px;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
